doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{info.title}
    body 
        include  ../includes/header

        secton.section
            time #{info.time}

            h1 #{info.message}
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, reprehenderit, est laudantium cupiditate, distinctio magnam possimus vel ratione sunt ad qui! Qui, error assumenda. At ipsa deleniti qui reprehenderit unde!
        include ../includes/footer